/* CSS Document */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    scroll-behavior: smooth;
}

@media only screen and (max-width: 1600px) {
    html {
        zoom: 80%;
    }
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    opacity: 1;
    transition: 1s opacity;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #000;
    /* cursor: url('../images/cursor.svg'), auto; */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

::selection {
    color: #fff;
    background: #999;
}

a {
    text-decoration: none;
    font-style: normal;
    /* cursor: url('../images/cursor-hover.svg'), auto; */
}

a:link {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
}

a:active {
    text-decoration: none !important;
}

a:visited {
    text-decoration: none !important;
}

.button {
    text-decoration: none;
    font-style: normal;
}

.wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    z-index: 2;
    max-width: 2500px;
}

.parallax {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: repeat-y;
    z-index: -100;
}

.grid {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.grid-3-col {
    height: auto;
    width: 345px;
    display: inline-block;
}

.col3-left,
.col3-center {
    margin-right: 74px;
    display: inline-block
}

.col2-right,
.col3-right {
    margin-right: 0;
    display: inline-block;
}

.grid-2-col {
    height: auto;
    width: 500px;
    display: inline-block;
}

.col2-left {
    margin-right: 100px;
}

.grid-3-col-name,
.grid-3-col-text,
.grid-2-col-name,
.grid-2-col-text {
    width: 100%;
}

.grid-3-col-img,
.grid-2-col-img {
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.mobilehide {
    display: inline-block;
    margin-top: 0;
}

.desktophide {
    display: none;
}


/* Terug naar boven button */

#back-top {
    position: fixed;
    display: none;
    font-size: 50px;
    right: 25px;
    bottom: 25px;
    width: 70px;
    height: 70px;
}

a#back-top:active {
    background: none;
}

a#back-top {
    display: block;
}

#back-top img {
    width: 70px;
    height: 70px;
}


/* Header */

.logo,
.logo img {
    width: 128px;
    height: auto;
    position: fixed;
    top: 25px;
    left: 25px;
    z-index: 400;
}

#container {
    display: flex;
    position: fixed;
    height: 80px;
    width: 80px;
    justify-content: center;
    align-items: center;
    right: 25px;
    top: 25px;
}

.circle {
    width: 75px;
    height: 75px;
    position: absolute;
    border: solid 2px #333;
    border-radius: 100%;
    float: right;
}

.hamburger,
.hamburger img {
    width: 30px;
    height: auto;
}


/* Text styles */

.h2-title {
    height: auto;
    width: 100%;
    font-family: "airstrike", sans-serif;
    font-weight: normal;
    font-size: 120px;
    line-height: 120px;
}

.h3-title {
    height: auto;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 120px;
    margin-bottom: 0;
}

.p-text {
    height: auto;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-top: 0;
}

.outline {
    font-family: 'airstrike-outline', sans-serif;
    text-decoration: none;
    font-style: normal;
}

.outline-link {
    font-family: 'airstrike-outline', sans-serif;
    text-decoration: none;
    font-style: normal;
    color: #fff;
    transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    -ms-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
    -webkit-transition: color 0.3s linear;
}

.outline-link:visited {
    color: #fff;
}

.outline-link:hover,
.outline-link:focus {
    color: #666666;
}

.outline-link:active {
    color: #0071BC;
}

.small {
    font-size: 70px;
}

.white {
    color: #fff;
}

.gray {
    color: #B3B3B3;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.thin {
    font-weight: 400;
    line-height: 0;
    margin-top: -60px;
    margin-bottom: 50px;
}


/* Button */

.button {
    background-color: #666666;
    border: none;
    border-radius: 100px;
    color: #fff;
    padding: 20px 35px;
    margin-top: 0;
    text-decoration: none;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 19px;
    font-size: 18px;
    transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    -ms-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -webkit-transition: background-color 0.3s linear;
}

.button:visited {
    color: #fff;
    background-color: #666666;
}

.button:hover {
    color: #000;
    background-color: #fff;
}

.button:active {
    color: #fff;
    background-color: #0071BC;
}

.button-blue {
    background-color: #0071BC;
    border: none;
    border-radius: 100px;
    color: #fff;
    padding: 20px 35px;
    margin-top: 0;
    text-decoration: none;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 19px;
    font-size: 18px;
    transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    -ms-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -webkit-transition: background-color 0.3s linear;
    margin-top: 50px;
    margin-bottom: 100px;
}

.button-blue:visited {
    color: #fff;
    background-color: #0071BC;
}

.button-blue:hover {
    color: #000;
    background-color: #fff;
}

.button-blue:active {
    color: #fff;
    background-color: #0071BC;
}


/* Overlay */

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    overflow: hidden;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.footer {
    width: 100%;
}

.footer-content {
    position: relative;
    top: 25%;
    width: 100%;
    overflow: hidden;
    float: right;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.overlay a,
.footer a {
    padding: 8px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    display: block;
    color: #fff;
    text-decoration: none;
    padding-right: 24%;
    padding-left: 24%;
    padding-top: 50px;
    transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    -ms-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
    -webkit-transition: color 0.3s linear;
}

.overlay div,
.footer div {
    text-align: center;
}

.overlay a:visited,
.footer a:visited {
    color: #fff;
}

.overlay a:hover,
.overlay a:focus,
.footer a:hover,
.footer a:focus {
    color: #666666;
}

.overlay a:active,
.footer a:active {
    color: #0071BC;
}

.overlay .closebtn {
    position: absolute;
    right: 25px;
    font-size: 60px;
    padding-right: 25px;
}

.navOverlay {
    display: table;
    position: absolute;
    overflow: hidden;
    top: 50%;
    height: 10em;
    margin-top: -14em;
    width: 100%;
}

.navFooter {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 14%;
}

.menu-left {
    float: left;
    padding-left: 100px;
    margin-left: 200px;
    margin-top: 60px;
}

.menu-right {
    float: right;
    margin-right: 200px;
}

.footer-left {
    float: left;
    margin-top: 60px;
}

.footer-right {
    margin-right: -300px;
}

#copyright {
    width: 100%;
    height: auto;
    margin-top: 100px;
}

#product-title {
    display: inline;
}

.voorwaardenlink {
    color: #B3B3B3 !important;
    transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    -ms-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
    -webkit-transition: color 0.3s linear;
}

.voorwaardenlink:visited {
    color: #B3B3B3;
}

.voorwaardenlink:hover {
    color: #666666;
}

.voorwaardenlink:active {
    color: #fff;
}


/* Preloader */

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 1;
    z-index: 200;
}

.loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 6px solid transparent;
    border-top-color: #0071BC;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 201;
}

.loader:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    border-radius: 50%;
    border: 6px solid transparent;
    border-top-color: #666;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

.loader:after {
    content: "";
    position: absolute;
    top: 11.5px;
    left: 11.5px;
    right: 11.5px;
    bottom: 11.5px;
    border-radius: 50%;
    border: 6px solid transparent;
    border-top-color: #fff;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

a[href^="tel:"] {
    color: #B3B3B3;
    text-decoration: none;
    font-style: normal;
    height: auto;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-top: -50px;
    margin-left: -110px;
}


/* Responsive */

@media only screen and (max-width: 1250px) {
    .wrapper {
        width: 100%;
        max-width: 100%;
        padding: 30px;
    }
    .parallax {
        background-size: 0%;
        background-position: center;
        background-attachment: scroll;
        background-repeat: repeat-y;
    }
    .h2-title {
        font-size: 68px;
        line-height: 70px;
    }
    .h3-title {
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 40px;
    }
    .p-text {
        font-size: 18px;
        line-height: 28px;
    }
    .grid {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }
    .grid-3-col {
        height: auto;
        width: 100%;
        display: block;
        margin-bottom: 100px;
    }
    .col3-left,
    .col3-center {
        margin-right: 0;
        display: block
    }
    .col2-right,
    .col3-right {
        display: block;
    }
    .grid-2-col {
        height: auto;
        width: 100%;
        display: block;
    }
    .col2-left {
        margin-right: 0;
    }
    .grid-3-col-name,
    .grid-3-col-text,
    .grid-2-col-name,
    .grid-2-col-text {
        width: 100%;
    }
    .grid-3-col-img,
    .grid-2-col-img {
        height: auto;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
    #back-top {
        right: 20px;
        bottom: 20px;
        width: 52px;
        height: 52px;
    }
    #back-top img {
        width: 52px;
        height: 52px;
    }
    .logo,
    .logo img {
        width: 120px;
        top: 20px;
        left: 20px;
    }
    #container {
        height: 30px;
        width: 30px;
        right: 30px;
        top: 40px;
    }
    .circle {
        display: none;
    }
    .hamburger,
    .hamburger img {
        width: 30px;
        height: auto;
    }
    .mobilehide {
        display: none;
    }
    .desktophide {
        display: block;
    }
    .footer-content {
        width: 100%;
        float: left;
        text-align: left;
        margin-left: 0;
        margin-right: 0;
    }
    footer {
        margin-top: -200px;
    }
    .overlay div,
    .footer div {
        text-align: left;
    }
    .navFooter {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        position: relative;
        left: 0;
    }
    .footer-left {
        float: left;
        margin-top: 0;
    }
    .footer-right {
        margin-right: 0;
        text-align: left;
    }
    .footer-right div {
        position: relative;
        left: -110px;
        margin-bottom: 100px;
    }
    a.right {
        text-align: left;
    }
    .footer-content {
        margin-top: -50px;
    }
    .footer-content a {
        margin-top: -10px;
    }
    #copyright p {
        text-align: left;
    }
}

@media only screen and (max-width: 375px) {
    .footer-right div {
        position: relative;
        left: -100px;
        margin-bottom: 100px;
    }
    a[href^="tel:"] {
        margin-left: -100px;
    }
}


/* Download */

#download-visual,
#download-visual img {
    height: auto;
    width: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.swal2-popup {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
}
